In [5]:
import mysql.connector # API

In [4]:
## Connecting to the database

## importing 'mysql.connector' as mysql for convenient
import mysql.connector as mysql

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "your Password"
)

print(db) # it will print a connection object if everything is fine

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002248C181A48>

In [7]:
import mysql.connector as mysql

db = mysql.connect(
     host = "localhost",
    user = "root",
    passwd = "your Password"
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

# Creating Databases

## To create a database in MySQL, we use CREATE DATABASE database_name statement.

In [8]:
## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("CREATE DATABASE datacamp2")

In [12]:
## executing the statement using 'execute()' method
cursor.execute("SHOW DATABASES")

## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present

## printing the list of databases
#print(databases)
## showing one by one database
for database in databases:
    print(database)

('datacamp',)
('datacamp1',)
('datacamp2',)
('information_schema',)
('mydatabase',)
('mydatabase1',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

## Creating Tables

In [13]:
## creating a table called 'users' in the 'datacamp' database
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "your Password",
    database = "datacamp2"
)

In [14]:
cursor = db.cursor()

## creating a table called 'users' in the 'datacamp' database
cursor.execute("CREATE TABLE users1 (name VARCHAR(255), user_name VARCHAR(255))")

In [22]:
#See all the tables present in the database using the SHOW TABLES statement.
cursor = db.cursor()

## getting all the tables which are present in 'datacamp' database
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('users1',)

## Primary Key

In [25]:
#Primary Key:- It is a unique value in the table. It helps to find each row uniquely in the table

cursor = db.cursor()

## first we have to 'drop' the table which has already created to create it again with the 'PRIMARY KEY'
## 'DROP TABLE table_name' statement will drop the table from a database
cursor.execute("DROP TABLE users1")

## creating the 'users' table again with the 'PRIMARY KEY'
cursor.execute("CREATE TABLE users (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), user_name VARCHAR(255))")

In [26]:
cursor = db.cursor()

## 'DESC table_name' is used to get all columns information
cursor.execute("DESC users")

## it will print all the columns as 'tuples' in a list
print(cursor.fetchall())

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'), ('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

## Dropping Primary Key
We use ALTER TABLE table_name DROP column_name statement to drop the column with Primary Key.

In [33]:
cursor = db.cursor()

## dropping the 'id' column
cursor.execute("ALTER TABLE users DROP id")

cursor.execute("DESC users")

print(cursor.fetchall())

[('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

#Adding Primary Key
Adding Primary Key to the existing table. We use ALTER TABLE table_name ADD PRIMARY KEY(column_name) statement to add a Primary Key to a table.

In [34]:
cursor = db.cursor()

## adding 'id' column to the 'users' table
## 'FIRST' keyword in the statement will add a column in the starting of the table
cursor.execute("ALTER TABLE users ADD COLUMN id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST")

cursor.execute("DESC users")

print(cursor.fetchall())

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'), ('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

# Inserting Data
Inserting data into table to store it. Use INSERT INTO table_name (column_names) VALUES (data) statement to insert into the table.

In [36]:
cursor = db.cursor()

## defining the Query
query = "INSERT INTO users (name, user_name) VALUES (%s, %s)"
## storing values in a variable
values = ("Anusha", "Surendra")

## executing the query with values
cursor.execute(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()
print(cursor.rowcount, "record inserted")

1 record inserted

In [37]:
cursor = db.cursor()

## defining the Query
query = "INSERT INTO users (name, user_name) VALUES (%s, %s)"
## storing values in a variable
values = [
    ("Peter", "peter"),
    ("Amy", "amy"),
    ("Michael", "michael"),
    ("Hennah", "hennah")
]

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()
print(cursor.rowcount, "records inserted")

4 records inserted

# Select Data
To retrieve the data from a table we use, SELECT column_names FROM table_name statement.

In [38]:
cursor = db.cursor()

## defining the Query
query = "SELECT * FROM users"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 'Anusha', 'Surendra')
(2, 'Anusha', 'Surendra')
(3, 'Peter', 'peter')
(4, 'Amy', 'amy')
(5, 'Michael', 'michael')
(6, 'Hennah', 'hennah')

Getting Some Columns
To select some columns from the table mention column name after the SELECT in the statement. Let's retrieve the username column from the users table.

In [39]:
cursor = db.cursor()

## defining the Query
query = "SELECT user_name FROM users"

## getting 'user_name' column from the table
cursor.execute(query)

## fetching all usernames from the 'cursor' object
usernames = cursor.fetchall()

## Showing the data
for username in usernames:
    print(username)

('Surendra',)
('Surendra',)
('peter',)
('amy',)
('michael',)
('hennah',)

In [42]:
cursor = db.cursor()

## defining the Query
query = "SELECT name, user_name FROM users"

## getting 'name', 'user_name' columns from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
data = cursor.fetchall()

## Showing the data
for pair in data:
    print(pair)

('Anusha', 'Surendra')
('Anusha', 'Surendra')
('Peter', 'peter')
('Amy', 'amy')
('Michael', 'michael')
('Hennah', 'hennah')

# Where
WHERE is used to select data on some condition. Now, we will select a record with id 5.

In [45]:
#SELECT column_name FROM table_name WHERE condition statement will be used to retrieve the data on some condition.
cursor = db.cursor()

## defining the Query
query = "SELECT * FROM users WHERE id = 5"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(5, 'Michael', 'michael')

# Order By
Use the ORDER BY to sort the result in ascending or descending order. It sorts the result in ascending order by default, to sort the result in descending order use the keyword DESC.

In [47]:
cursor = db.cursor()

## defining the Query
query = "SELECT * FROM users ORDER BY name"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(4, 'Amy', 'amy')
(1, 'Anusha', 'Surendra')
(2, 'Anusha', 'Surendra')
(6, 'Hennah', 'hennah')
(5, 'Michael', 'michael')
(3, 'Peter', 'peter')

In [51]:
#Sorting the data in descending order by name column. 
cursor = db.cursor()

## defining the Query
query = "SELECT * FROM users ORDER BY name DESC"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(3, 'Peter', 'peter')
(6, 'Hennah', 'hennah')
(1, 'Anusha', 'Surendra')
(2, 'Anusha', 'Surendra')
(4, 'Amy', 'amy')

# Delete
DELETE keyword is used to delete the records from the table.

In [50]:
cursor = db.cursor()

## defining the Query
query = "DELETE FROM users WHERE id = 5"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()

In [27]:
#Checking Whether it is deleted or not by querying all the records from the table

In [30]:
cursor = db.cursor()

## defining the Query
query = "SELECT * FROM users"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

('Anusha', 'Surendra')
('Peter', 'peter')
('Amy', 'amy')
('Michael', 'michael')
('Hennah', 'hennah')

# Update
UPDATE keyword is used to update the data of a record or records.
UPDATE table_name SET column_name = new_value WHERE condition statement is used to update the value of a specific row.

In [52]:
cursor = db.cursor()

## defining the Query
query = "UPDATE users SET name = 'Kareem' WHERE id = 1"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()

In [53]:
#Checking the data whether it's updated or not by retrieving all records from the data.

In [54]:
cursor = db.cursor()

## defining the Query
query = "SELECT * FROM users"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 'Kareem', 'Surendra')
(2, 'Anusha', 'Surendra')
(3, 'Peter', 'peter')
(4, 'Amy', 'amy')
(6, 'Hennah', 'hennah')